<section class="easy-container--main">
    <h1>product</h1>
    <div *ngIf="edit" class="easy-wrapper">
        <figure class="product__image">
            <img [src]="createImagePath(product.imageUrl)" alt="">
        </figure>
        <button (click)="deleteProductImage()" class="btn btn-danger product__delete-button">Delete</button>
    </div>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" >
        <div clas="form-group" >
            <label for="name">name</label>
            <input id="name" type="text" class="form-control" formControlName="name">
        </div>
        <div clas="form-group" >
            <label for="price">price</label>
            <input id="price" type="text" class="form-control" formControlName="price">
        </div>
        <div clas="form-group" >
            <label for="description">description</label>
            <textarea id="description" type="text" class="form-control" formControlName="description"></textarea>
        </div>
        <div *ngIf="!edit" class="form-group">
            <label for="image">image</label>
            <input type="file" (change)="onImageAdded($event)" accept="image/*;capture=camera" id="image" class="form-control-file" #fileInput>
        </div>
        <div class="form-group">
            <label for="category">select categories</label>
            <select  id="category" class="form-control" multiple formControlName="categories">
                <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.name }}</option>
            </select>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">{{ updateOrSave() }}</button>
        </div>
        
    </form>

</section>

