.product__image {
    width: 100%;
    text-align: center;
}

.product__delete-button {
    float: right;
}

.easy-form-group {
    display: flex;
}

.easy-wrapper {
    width: 20%;
    padding: 24px 0;
   
}

.product__image > img{
    max-width: 100%;
}   

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px lightgray solid;
    padding: 10px 0;
}