<section class="easy-container--main">
    <div class="header">
        <h1>product</h1>
        <button [routerLink]="['/product']" class="btn btn-primary"><-back</button>
    </div>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" >
        <div class="form-group easy-form-group">
            <label *ngIf="!edit" for="image">image</label>
            <input type="file" (change)="onImageAdded($event)" accept="image/*;capture=camera" id="image" class="form-control-file" #fileInput>
            <div *ngIf="edit && product" class="easy-wrapper">
                <figure class="product__image">
                    <img [src]="createImagePath(product.imageUrl)" alt="">
                </figure>
                <button (click)="deleteProductImage()" class="btn btn-danger product__delete-button">Delete</button>
            </div>
        </div>
        <div clas="form-group" >
            <label for="name">name</label>
            <input id="name" type="text" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
        </div>
        <div clas="form-group" >
            <label for="price">price</label>
            <input id="price" type="text" class="form-control" formControlName="price" [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
            <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                <div *ngIf="f.price.errors.required">Price is required</div>
            </div>
        </div>
        <div clas="form-group" >
            <label for="description">description</label>
            <textarea id="description" type="text" class="form-control" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.price.errors }"></textarea>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Description is required</div>
            </div>

        </div>
        
        <div class="form-group">
            <label for="category">select categories</label>
            <select  id="category" class="form-control" multiple formControlName="categories">
                <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
            </select>
        </div>
        <alert></alert>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">{{ updateOrSave() }}</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        
        
    </form>

</section>

